<h2> Enter a new grow zone: </h2>

<%= form_with url: "/grow_zones", method: :post, local: true do |form|%>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :sq_feet %>
  <%= form.number_field :sq_feet %>
  <%= form.label :mulched %>
  <%= form.text_field :mulched %>

  <%= form.submit "Create Grow Zone" %>

<% end %>