<h1><%=@grow_zone.name%>
<p>ID: <%=@grow_zone.id%></p>
<p>Square Feet: <%=@grow_zone.sq_feet%></p>
<p>Mulched?: <%=@grow_zone.mulched%></p>
<p>Created At: <%=@grow_zone.created_at%></p>
<p>Updated At: <%=@grow_zone.updated_at%></p>
<p>Number of plants: <%=@grow_zone.plant_count%></p>
<p><a href="/grow_zones/<%=@grow_zone.id%>/plants">Plant List</a><p>
<p><a href="/grow_zones/<%=@grow_zone.id%>/edit">Update Grow Zone</a><p>



