<h1><%=@grow_zone.name%>
<p>ID: <%=@grow_zone.id%></p>
<p>Square Feet: <%=@grow_zone.sq_feet%></p>
<p>Mulched?: <%=@grow_zone.mulched%></p>
<p>Created At: <%=@grow_zone.created_at%></p>
<p>Updated At: <%=@grow_zone.updated_at%></p>




