<h1>Plant List</h1>

<% @plants.each do |plant| %>
  <h3><a href="/plants/<%=plant.id%>"><%=plant.name%></a></h3>
  <p>ID: <%=plant.id%></p>
  <p>Edible: <%=plant.edible%></p>
  <p>Harvest Quantity (lbs): <%=plant.harvest_qt%></p>
  <p>Grow Zone ID: <%=plant.grow_zone_id%>
  <p>Created At: <%=plant.created_at%></p>
  <p>Updated At: <%=plant.updated_at%></p><br>
  
<% end %>
