<h3>Name: <%=@plant.name%></h3>
  <p>ID: <%=@plant.id%></p>
  <p>Grow Zone ID: <%=@plant.grow_zone_id%></p>
  <p>Edible: <%=@plant.edible%></p>
  <p>Harvest Quanity (lbs): <%=@plant.harvest_qt%></p>
  <p>Created At: <%=@plant.created_at%></p>
  <p>Updated At: <%=@plant.updated_at%></p><br>
  <p><a href="/plants/<%=@plant.id%>/edit">Update Plant</a><p>
