<h1> <%=@grow_zone%></h1>
<%= link_to "Create Plant", "/grow_zones/#{@grow_zone.id}/plants/new" %>

<% @plants.each do |plant| %>
  <h3>Name: <a href="/plants/<%=plant.id%>"><%=plant.name%></a></h3>
  <p>Grow Zone ID: <%=plant.grow_zone.id%>
  <p>ID: <%=plant.id%></p>
  <p>Edible: <%=plant.edible%></p>
  <p>Harvest Quantity (lbs): <%=plant.harvest_qt%></p>
  <p>Created At: <%=plant.created_at%></p>
  <p>Updated At: <%=plant.updated_at%></p><br>

  <% end %>